.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 3rem;
  margin: 0 auto;
  padding: 160px 120px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
}

.badge {
  display: inline-flex;
  align-items: center;
  background: var(--color-secondary);
  color: #111;
  padding: 0.2rem;
  border-radius: 20px;
  font-size: 0.875rem;
  width: fit-content;
}

.badge > span {
  background: var(--text-primary);
  color: white;
  padding: 2px 6px;
  border-radius: 15px;
  margin-right: 4px;
}

.title {
  font-size: 3rem;
  color: var(--color-primary);
  margin: 0;
  line-height: 1.2;
  text-align: left;
}

.description {
  color: var(--text-secondary);
  font-size: 1.125rem;
  margin: 0;
}

.button {
  background: #8b1d24;
  color: white;
  display: flex;
  align-items: center;
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  width: fit-content;
}

.button span {
  padding-left: 10px;
}

.button:hover {
  background-color: #c3375a;
}

.checkmark {
  color: #088008;
  width: 15px;
}

.attributes {
  display: flex;
  margin-top: -20px;
}

.attributes > div {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
}

.attributes > div:last-child {
  padding-left: 10px;
}

.imageContainer {
  border-radius: 8px;
  flex: 2;
  display: flex;
  justify-content: right;
  width: 100%;
}

@media (max-width: 1024px) {
  .hero {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
  }

  .content {
    align-items: center;
  }

  .imageContainer {
    justify-content: center;
  }

  .imageContainer img {
    height: auto;
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 140px 20px 100px;
  }

  .title {
    font-size: 2rem;
    text-align: center;
  }
}

@media (max-width: 468px) {
  .imageContainer {
    display: none;
  }

  .title {
    font-size: 2.25rem;
    text-align: center;
  }
  .description {
    font-size: 1rem;
    line-height: 20px;
  }
}
