.nav-menu {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.nav-items {
  display: none;
}

.hamburger-menu {
  background-color: var(--bg-color-secondary);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 20px;
  height: 200px;
  z-index: 99;
}

.hamburger-menu li {
  padding-top: 20px;
}

.user-auth {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 469px) {
  .hamburger-icon {
    display: none;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .nav-items {
    display: block;
    display: flex;
    align-items: center;
    padding-right: 20px;
  }

  .nav-items li {
    padding-right: 25px;
  }

  .user-auth {
    flex-direction: row;
  }
}
