.notice {
  background-color: var(--bg-color-secondary);
  color: var(--white);
  display: flex;
  justify-content: center;
  padding: 15px 20px;
}

.notice .text {
  text-align: center;
  width: 380px;
}

.underline {
  color: var(--white);
  text-decoration: underline;
}
